
.title-register{
	color: rgb(22, 24, 35) !important;
	font-family: 'Arial', sans-serif !important;
	font-size: 32px !important;
	margin: 16px auto !important;
	font-weight: bold !important;
	text-align: center !important;
	overflow-wrap: break-word !important;
}

.form-register{
	color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

input{
	border-radius: 2px;
	background-color: rgba(22, 24, 35, 0.06);
	border: 1px solid rgba(22, 24, 35, 0.12);
	padding-inline-start: 12px;
	color: rgb(22, 24, 35);
	line-height: 100%;
	outline: none;
	font-size: 16px;
	height: 44px;
	caret-color: rgb(254, 44, 85);
	width: 100%;
	padding-inline-end: unset;
	margin-bottom: 7px;
}

.submit-register{
	border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: TikTokFont, PingFangSC, sans-serif;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
	margin: 0 auto;
    width: 20%;
    margin-top: 21px;
}

.go-back{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	cursor: pointer;
	margin-top: 40px;
	font-weight: 600;
}